/* Signup.module.css */
.signupContainer {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.welcomeContainer {
  color: white;
  text-align: center;
  width: 50%;
  float: left;
}

.formContainer {
  background-color: #f7f7f7;
  padding: 10px;
  width: 50%;
  float: right;
}

h1, h2 {
  margin-bottom: 20px;
}

label {
  margin: 10px 0 5px;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formOptions {

  align-items: center;
  margin-bottom: 20px;
}

.signupBtn, .googleSigninBtn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.signupBtn {
  background-color: #28a745;
}

.googleSigninBtn {
  background-color: #db4a39;
  display: flex;
  justify-content: center;
  align-items: center;
}

.googleIcon {
  margin-right: 5px;
}
